langgraph
langchain
langchain-core
langchain-google-genai
google-genai
langchain-mcp-adapters
python-dotenv
mcp
pydantic
mcp-kubernetes-server
kubernetes
langgraph-cli[inmem]>=0.1.0
langsmith>=0.1.0